@font-face {
  font-family: circe;
  src: url(../fonts/circe1.otf) format("opentype");
}
ul {
  margin: 0;
}
.wrapper {
  margin: 0 auto;
  max-width: 1650px;
}
/* Header */
.main-header {
  width: 100%;
  height: 140px;
  background: url(../img/header-bg.png) repeat-x;
}
.container {
  margin: 0 auto;
  width: 1152px;
  height: 510px;
}
.logo {
  margin-top: 29px;
  margin-left: 85px;
  float: left;
  background: url(../img/logo.png) no-repeat;
  height: 90px;
  width: 90px;
}
/* Header menu */
.main-menu {
  margin: 0 auto;
  /* margin-top: 55px; */
  width: 612px;
}
.main-menu__item {
  display: inline-block;
  float: left;
  margin-top: 59px;
}
.main-menu__link {
  color: #8996a0;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 28px;
  margin-left: 14px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'circe';
}
.main-menu__link:hover {
  border-bottom: 2px solid white;
  padding-bottom: 6px;
  color: white;
}
.phone {
  height: 30px;
  color: white;
  font-family: 'circe';
  display: inline-block;
}
.phone:after {
  content: url(../img/phone.png);
  position: relative;
  left: -3px;
  bottom: 29px;
}
.phone__code {
  font-size: 12px;
  margin-right: 5px;
}
.phone__num {
  font-size: 32px;
  font-weight: bold;
}
.phone-top {
  margin-top: 62px;
  float: right;
  margin-right: 50px;
}
.phone-contact {
  margin-top: 8px;
  margin-left: 8px;
}
.phone-contact:before {
  content: "";
  position: absolute;
  width: 268px;
  height: 58px;
  border-left: 1px solid #484848;
  border-right: 1px solid #484848;
  left: 133px;
  bottom: -7px;
}
.content {
  width: 100%;
  background: url(../img/content-bg.png);
}
/* Form */
.call-form {
  width: 200px;
  float: left;
  margin-top: 28px;
  margin-left: 100px;
}
.call-form__title {
  font-size: 40px;
  color: white;
  font-family: 'circe';
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: -1.5px;
}
.call-form__btn {
  width: 220px;
  height: 40px;
  background: none;
  color: white;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 49px;
  padding: 5px;
  border: 2px solid #2a2a2a;
  letter-spacing: -1px;
}
.contacts {
  float: left;
  width: 532px;
  margin-left: 319px;
  margin-top: 5px;
}
.contact {
  margin-top: 54px;
  height: 175px;
}
.contact__row {
  position: relative;
  clear: both;
}
.contact__row_bottom {
  margin-top: 68px;
}
.contact__position {
  font-family: 'circe';
  color: white;
  font-size: 15px;
  text-transform: uppercase;
  width: 204px;
  text-align: right;
  position: absolute;
  top: 42px;
  right: 0;
}
.contact__name {
  color: white;
  font-size: 20px;
  font-family: 'circe';
  display: block;
  float: left;
  width: 170px;
  line-height: 1.1;
}
.contact__mail {
  color: #7a7676;
  font-size: 15px;
  font-family: 'circe';
  float: right;
  margin-top: 17px;
  margin-right: 5px;
}
/* Google maps */
#map_canvas {
  width: 100%;
  height: 440px;
}
/* Костыль для гуглокарт */
a[href^="http://maps.google.com/maps"] {
  display: none !important;
}
a[href^="https://maps.google.com/maps"] {
  display: none !important;
}
.gmnoprint a,
.gmnoprint span,
.gm-style-cc {
  display: none;
}
.gmnoprint div {
  background: none !important;
}
/* Footer */
.main-footer {
  width: 100%;
  height: 58px;
  background: url(../img/footer-bg.png);
}
.copyright {
  display: block;
  font-family: 'circe';
  font-size: 13px;
  color: #c7c7c7;
  text-transform: uppercase;
  float: left;
  padding-top: 22px;
  margin-left: 87px;
}
.companys {
  max-width: 450px;
  padding-top: 14px;
  margin: auto;
}
.companys__item {
  display: inline-block;
  margin-left: 35px;
}
.companys__bbdo {
  float: left;
  margin-left: 142px;
  margin-top: 22px;
}
.sub-menu {
  float: right;
  margin-top: -26px;
}
.sub-menu__link {
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'circe';
  color: white;
  font-size: 13px;
  font-weight: bold;
  margin-right: 55px;
  margin-left: 63px;
}
/* animation */
.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 306px;
  color: white;
  font-family: 'circe';
  font-size: 18px;
  letter-spacing: 1.5px;
  border-bottom: 1px solid #484848;
}
.input__field {
  position: relative;
  display: block;
  float: right;
  border: none;
  -webkit-appearance: none;
  /* for box shadows to show on iOS */
}
.input__field:focus {
  outline: none;
}
.input__field--nao {
  padding: 14px 0px 0px;
  width: 100%;
  background: transparent;
}
.input__label {
  display: inline-block;
  float: right;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.input__label-content {
  position: relative;
  display: block;
  padding: 20px 0;
  width: 100%;
}
.input__label--nao {
  position: absolute;
  top: -15px;
  left: 0;
  display: block;
  width: 100%;
  text-align: left;
  pointer-events: none;
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transition: -webkit-transform 0.3s 0.1s, color 0.3s;
  transition: transform 0.3s 0.1s, color 0.3s;
}
.icon {
  color: #ddd;
  font-size: 150%;
}
.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
  color: #6e6e6e;
  -webkit-transform: translate3d(0, -3px, 0) scale3d(0.75, 0.75, 1);
  transform: translate3d(0, -3px, 0) scale3d(0.75, 0.75, 1);
}
.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
  stroke: #6e6e6e;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}
