/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: circe;
  src: url(../fonts/circe1.otf) format("opentype");
}

ul {
    margin: 0;
}

.wrapper{
    margin: 0 auto;
    max-width: 1650px;
}
/* Header */
.main-header{
    width: 100%;
    height: 140px;
    background: url(../img/header-bg.png) repeat-x;
}
.container{
    margin: 0 auto;
    width: 1152px;
    height: 510px;
}

.logo{
    margin-top: 29px;
    margin-left: 85px;
    float: left;
    background: url(../img/logo.png)  no-repeat;
    height: 90px;
    width: 90px;
}
/* Header menu */
.main-menu {
    margin: 0 auto;
    /* margin-top: 55px; */
    width: 612px;
    &__item {
        display: inline-block;
        float: left;
        margin-top: 59px;
    }

    &__link {
        color: #8996a0;
        text-decoration: none;
        text-transform: uppercase;
        margin-right: 28px;
        margin-left: 14px;
        font-weight: bold;
        font-size: 15px;
        font-family: 'circe';
        &:hover {
            border-bottom: 2px solid white;
            padding-bottom: 6px;
            color: white;
        }
        &--active{
            border-bottom: 2px solid white;
            padding-bottom: 6px;
            color: white;    
        }
    }
}
/* Phone numbers */
.phone {
    height: 30px;
    color: white;
    font-family: 'circe';
    display: inline-block;
    &:after{
    content:url(../img/phone.png);
    position: relative;
    left: -3px;
    bottom: 29px;
}
    &__code{
        font-size: 12px;
        margin-right: 5px;
    }
    &__num{
        font-size: 32px;
        font-weight: bold;
    }
    &--top{
        margin-top: 62px;
        float: right;
        margin-right: 50px;
    }
    &--contact{
        margin-top: 8px;
        margin-left: 8px;
        &:before{
            content: "";
            position: absolute;
            width: 268px;
            height: 58px;
            border-left: 1px solid #484848;
            border-right: 1px solid #484848;
            left: 133px;
            bottom: -7px;
        }
    }
}
.content{
    width: 100%;
    background: url(../img/content-bg.png);
}
/* Form */
.call-form{
    width: 200px;
    float: left;
    margin-top: 28px;
    margin-left: 100px;
    &__title{
        font-size: 40px;
        color: white;
        font-family: 'circe';
        text-transform: uppercase;
        line-height: 1;
        letter-spacing: -1.5px;
    }
    &__btn{
        width: 220px;
        height: 40px;
        background: none;
        color: white;
        font-size: 13px;
        text-transform: uppercase;
        margin-top: 49px;
        padding: 5px;
        border: 2px solid #2a2a2a;
        letter-spacing: -1px;
    }
}
/* Peoples list */
.contacts{
    float: left;
    width: 532px;
    margin-left: 319px;
    margin-top: 5px;
}
.contact{
    margin-top: 54px;
    height: 175px;
    
    &__row{
        position: relative;
        clear: both;
    }
    &__row_bottom{
        margin-top: 68px;
    }
    &__fix{
        margin-top: 52px;
    }
    &__position{
        font-family: 'circe';
        color: white;
        font-size: 15px;
        text-transform: uppercase;
        //float: right;
        //margin-top: 57px;
        width: 204px;
        text-align: right;
        position: absolute;
        top: 42px;
        right: 0;        
    }
    &__name{
        color: white;
        font-size: 20px;
        font-family: 'circe';
        display: block;
        float: left;
        //margin-top: 65px;
        width: 170px;
        line-height: 1.1;
    }
    &__mail{
        color: #7a7676;
        font-size: 15px;
        font-family: 'circe';
        float: right;
        margin-top: 23px;
        margin-right: 5px;
    }
}
/* Google maps */
#map_canvas {
    width: 100%;
    height: 440px;
}
/* Костыль для гуглокарт */
a[href^="http://maps.google.com/maps"]{display:none !important}
a[href^="https://maps.google.com/maps"]{display:none !important}

.gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.gmnoprint div {
    background:none !important;
}
/* Footer */
.main-footer{
    width: 100%;
    height: 58px;
    background: url(../img/footer-bg.png);
}

.copyright{
    display: block;
    font-family: 'circe';
    font-size: 13px;
    color: #c7c7c7;
    text-transform: uppercase;
    float: left;
    padding-top: 22px;
    margin-left: 87px;
}
.companys{
    max-width: 450px;
    padding-top: 14px;
    margin: auto;
    &__item{
        display: inline-block;
        margin-left: 35px;
    }
    &__bbdo{
        float: left;
        margin-left: 142px;
        margin-top: 22px;
    }
}

.sub-menu{
    float: right;
    margin-top: -26px;
    &__link{
        text-decoration: none;
        text-transform: uppercase;
        font-family: 'circe';
        color: white;
        font-size: 13px;
        font-weight: bold;
        margin-right: 55px;
        margin-left: 63px;
    }
}
/* input from and animation */
.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	width: 306px;
    color: white;
    font-family: 'circe';
    font-size: 18px;
    letter-spacing: 1.5px;
    border-bottom: 1px solid #484848;
    &__field {
        position: relative;
        display: block;
        float: right;
        border: none;
        -webkit-appearance: none; /* for box shadows to show on iOS */
            &:focus{
                outline: none;
            }
            &--nao {
                padding: 13px 0px 1px;
                width: 100%;
                background: transparent;
            }
    }
    &__label {
	display: inline-block;
	float: right;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
        &-content {
            position: relative;
            display: block;
            padding: 20px 0;
            width: 100%;
        }
        &--nao {
            position: absolute;
            top: -6px;
            left: 2px;
            display: block;
            width: 100%;
            text-align: left;
            pointer-events: none;
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
            -webkit-transition: -webkit-transform 0.3s 0.1s, color 0.3s;
            transition: transform 0.3s 0.1s, color 0.3s;
        }
    }
}

.icon {
	color: #ddd;
	font-size: 150%;
}

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: #6e6e6e;
	-webkit-transform: translate3d(0, -10px, 0) scale3d(0.70, 0.70, 1);
	transform: translate3d(0, -10px, 0) scale3d(0.70, 0.70, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #6e6e6e;
	-webkit-transform: translate3d(-55.6%, 0, 0);
	transform: translate3d(-55.6%, 0, 0);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
